/* CONFIG */

*{
	text-decoration: none;
	list-style: none;
}

a, a:hover, a:focus, a:active{
	text-decoration: none;
	color: black;
}

header{
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100px;
	background-color: white;
}

section{
	width: 100%;
	height: auto;
	padding-top: 100px;
	clear: both;
}

#home{
	/* background-color: red; */
	padding-bottom: 50px;
}

#portfolio{
	/*background-color: green;*/
}

#experiencias{
	/*background-color: blue;*/
}

#nav{
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

#nav h1{
	font-size: 2.5em;
	padding: 0;
}

#nav h2{
	font-size: 1.2em;
	color: #888888;
	margin-top: -6px;
	margin-left: 4.5%;
}

.brand{
	margin-top: 1%;
}

.container-content{
	position: relative;
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

.navbar{
	font-size: 1.5em;
}

.brand, .navbar{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}

.navbar ul{
	float: right;
	margin: 25px 5% 5px 0px;
}

.navbar ul li{
	float: left;
	margin: 0 10px;
}

.navbar ul li:hover, .navbar ul li:active{
	border-bottom: solid 1px #000;
}


/*APRESENTAÇÃO*/

.apresentation{
	width: 80%;
	height: 500px;
	margin-top: 30px;
	margin-left: 10%;
	float: left;
}

.cover-apresentation{
}

.cover-apresentation img{
	width: 95%;
	margin: 0 auto;
}

.text-apresentation{
	margin-top: 1%;
}

.text-apresentation h2{
	font-size: 2.5em;
	padding-bottom: 30px;
}

.text-apresentation p{
	font-size: 2em;
}

.text-apresentation, .cover-apresentation{
	width: 50%;
	height: 100%;
	float: left;
}


/*EXPERIÊNCIAS*/

.content-experience{
	width: 100%;
	height: auto;
	float: left;
	/*background-color: pink;*/
}

.cover-experience{
	width: 35%;
	height: 100%;
	float:  left;
	/*background-color: red;*/
}

.cover-experience img{
	width: 100%;
	height: 100%;
	border: #000 1px solid;
}

.item-experience{
	width: 100%;
	height: 250px;
	margin: 20px 0;
	/*background-color: blue;*/
}

.text-experience{
	width: 65%;
	height: 100%;
	margin-top: 1%;
	float:  left;
	/*background-color: black;*/
}

.text-experience h3{
	font-weight: bold;
	font-size: 1.6em;
	margin-left: 5%;
}

.text-experience h4{
	font-weight: bolder;
	font-size: 1.2em;
	margin-left: 5%;
}

.text-experience p{
	font-weight: normal;
	font-size: 1.1em;
	margin-left: 5%;
	margin-top: 5%;
}


/*PORTFOLIO*/
.content-portfolio{

}

.item-portfolio{

}

.cover-portfolio{

}

.text-portfolio{

}