/* CONFIG */

*{
	text-decoration: none;
	list-style: none;
}

a, a:hover, a:focus, a:active{
	text-decoration: none;
	color: black;
}

header{
	position: fixed;
	z-index: 997;
	width: 100%;
	height: 100px;
	background-color: white;
}

section{
	width: 100%;
	height: auto;
	padding-top: 100px;
	clear: both;
}

/* #home{
	
}

#portfolio{
	
}

#experiencias{
	
} */

#nav{
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

#nav h1{
	font-size: 2.5em;
	padding: 0;
}

#nav h2{
	font-size: 1.2em;
	color: #888888;
	margin-top: -6px;
	margin-left: 4.5%;
}

.brand{
	margin-top: 1%;
}

.container-content{
	position: relative;
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

.navbar{
	font-size: 1.5em;
}

.brand, .navbar{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}

.navbar ul{
	float: right;
	margin: 25px 5% 5px 0px;
}

.navbar ul li{
	float: left;
	margin: 0 10px;
}

.navbar ul li:hover, .navbar ul li:active{
	border-bottom: solid 1px #000;
}


/*APRESENTAÇÃO*/

.apresentation{
	width: 80%;
	height: 500px;
	margin-top: 30px;
	margin-left: 10%;
	float: left;
}

/* .cover-apresentation{
} */

.cover-apresentation img{
	width: 95%;
	margin: 0 auto;
}

.text-apresentation{
	margin-top: 1%;
}

.text-apresentation h2{
	font-size: 2.5em;
	padding-bottom: 30px;
}

.text-apresentation p{
	font-size: 2em;
}

.text-apresentation, .cover-apresentation{
	width: 50%;
	height: 100%;
	float: left;
}


/*EXPERIÊNCIAS*/

.content-experience{
	width: 100%;
	height: auto;
	float: left;
}

.cover-experience{
	width: 35%;
	height: 100%;
	float:  left;
}

.cover-experience img{
	width: 100%;
	height: 100%;
	border: #000 1px solid;
}

.item-experience{
	width: 100%;
	height: 250px;
	margin: 20px 0;
}

.text-experience{
	width: 65%;
	height: 100%;
	margin-top: 1%;
	float:  left;
}

.text-experience h3{
	font-weight: bold;
	font-size: 1.6em;
	margin-left: 5%;
}

.text-experience h4{
	font-weight: bolder;
	font-size: 1.2em;
	margin-left: 5%;
}

.text-experience p{
	font-weight: normal;
	font-size: 1.1em;
	margin-left: 5%;
	margin-top: 5%;
}


/*PORTFOLIO*/

.content-portfolio{
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 5%;
}

.container-portfolio{
	padding: 6px 16px;
}

.container-portfolio p {
	font-size: 0.8em;
}

.container-portfolio h5 {
	font-size: 0.9em;
}

.cover-portfolio{
	width: 100%;
	/* border-radius: 5px 5px 0 0; */
}

.item-portfolio{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	/* border-radius: 5px; */
}

.item-portfolio-hd {
	height: 220px;
}

.item-portfolio:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.espaco {
	height: 2%;
}

/* TESTES LIGHTBOX */

.row > .column {
	padding: 0 8px;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  .cover-lightbox {
	width: 100%;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
	float: left;
	width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 998;
  }
  
  /* Modal Content */
  .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1024px;
  }
  
  /* The Close Button */
  .close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
	z-index: 999;
  }
  
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
	display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Caption text */
  .caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
  }
  
  img.demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }