/* Config */

*{
	text-decoration: none;
	list-style: none;
}

a, a:hover, a:focus, a:active{
	text-decoration: none;
	color: black;
}

header{
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100px;
	background-color: white;
}

#nav{
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

#nav h1{
	font-size: 2.5em;
	padding: 0;
}

#nav h2{
	font-size: 1.3em;
	color: #c6c6c6;
	margin-top: -6px;
}

.brand, .navbar{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}

.brand{
	/*background-color: yellow;*/
}
.navbar{
	/*background-color: green;*/
	font-size: 1.5em;
}

.navbar ul{
	float: right;
	margin-right: 5%;
	margin-top: 25px;
}

.navbar ul li{
	float: left;
	margin: 0 10px;
}

.navbar ul li:hover, .navbar ul li:active{
	border-bottom: solid 2px #000;
}

section{
	width: 100%;
	height: auto;
	padding-top: 100px;
	clear: both;
}

#home{
	/*background-color: red;*/
}

#portfolio{
	/*background-color: green;*/
}

#experiencias{
	/*background-color: blue;*/
}

.container-content{
	position: relative;
	width: 70%;
	height: 100%;
	margin: 0 auto;
	/*background-color: pink;*/
}

/*APRESENTAÇÃO*/
.apresentation{
	width: 80%;
	height: 500px;
	margin-top: 120px;
	margin-left: 10%;
	float: left;
	/*background-color: blue;*/
}

.text-apresentation, .cover-apresentation{
	width: 50%;
	height: 100%;
	float: left;
}

.text-apresentation{
	/*background-color: red;*/
	margin-top: 3%;
}

.text-apresentation h1{
	font-size: 3em;
	padding-bottom: 30px;
}

.text-apresentation p{
	font-size: 2.2em;
	padding: 2%;
}

.cover-apresentation{
	/*background-color: yellow;*/
}

.cover-apresentation img{
	width: 95%;
	margin: 0 auto;
}


/*EXPERIÊNCIAS*/
.content-experience{
	width: 100%;
	height: auto;
	float: left;
	/*background-color: pink;*/
}

.item-experience{
	width: 100%;
	height: 250px;
	margin: 20px 0;
	/*background-color: blue;*/
}

.cover-experience{
	width: 35%;
	height: 100%;
	float:  left;
	/*background-color: red;*/
}

.cover-experience img{
	width: 100%;
	height: 100%;
}

.text-experience{
	width: 65%;
	height: 100%;
	float:  left;
	/*background-color: black;*/
}

.text-experience h2{
	font-weight: bold;
	font-size: 2em;
	margin-left: 8%;
}

.text-experience h3{
	font-weight: bolder;
	font-size: 1.3em;
	margin-left: 8%;
}

.text-experience p{
	font-weight: normal;
	font-size: 1.1em;
	margin-left: 5%;
	margin-top: 5%;
}


/*PORTFOLIO*/
.content-portfolio{
	width: 100%;
	height: auto;
	float: left;
}

.item-portfolio{
	width: 30%;
	height: 300px;
	float: left;
	background-color: magenta;
}

.cover-portfolio{
	background-color: purple;
}

.text-portfolio{
	background-color: navy;
}

.card {
    /* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}